@charset "UTF-8";

body{

      background-color: whitesmoke;
      font-family: Arial, Helvetica, sans-serif;
    }

#superbox {
            
    width: 1024px;
    height: 848px;
    background-color: #1894b0;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
          }

#intro{
    width: 908px;
    height: 45px;
    background-color:  #d6f9ff;
    color: #1894b0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 10px;
    padding-right: 50px;
}

header {
        width: 958px;
        height:90 px;
        display: flex;
        background-image: url("../imagens/fundo-header.jpg");
        background-color: #d6f9ff;
        background-size:contain;
        display: flex;
        justify-content: space-between;

      }

#Logo {
        width: 150 px;
       
}


nav {
    width: 500px;  
    padding-top: 55px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

ul li{
    padding: 5px 10px;
    background-color:  #1894b0;
    border-radius: 8px;

    margin: 10px;
}

ul li a {
    text-decoration: none;
    color: aliceblue;
}

#main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }

#fundo_preto {
    width: 958px;
    height: 245px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}


#segunda_parte{
    width: 958px;
    height: 275px;
    background-color:#627fbb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article {
    width: 479PX;
    height:200px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    font-stretch: ultra-condensed;
    color: #b6d7ec;
    font-weight: bold;
}

h1{
    text-decoration: underline;
}

.destaques {
    flex-direction: column;
    margin-right: 10 px;
    
}


footer{
    width: 958px;

    background-color:#d6f9ff;
    color: #627fbb;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
